  .custom-card {
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-container {
    padding: 30px;
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: rgb(11, 112, 61);
    border-color: rgb(11, 112, 61);
  }

  .btn-primary:hover {
    background-color: rgb(11, 112, 61);
    border-color: rgb(11, 112, 61);
  }
