<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card custom-card">
        <div class="card-header bg-success text-white">
          <h2 class="text-center">Update Data</h2>
        </div>

        <div class="card-body">
          <form [formGroup]="validateForm" (ngSubmit)="updateAd()">
            <div class="file-upload-container">
              <label for="file-upload-label">
                <input type="file" nz-button nzType="primary" accept="image/x-png, image/gif, image/jpeg" (change)="onFileSelected($event)" class="file-input" />
              </label>

              <div *ngIf="imagePreview" class="image-preview">
                <div class="cicle-image">
                  <img [src]="imagePreview" alt="Existing image" class="preview-image" />
                </div>
              </div>

              <div *ngIf="existingImage" class="image-preview">
                <div class="cicle-image">
                  <img [src]="existingImage" alt="Existing image" class="preview-image" />
                </div>
              </div>
            </div>

            <div class="form-group mt-5 mb-3">
              <!-- Input nama -->
              <input class="form-control" placeholder="Nama" formControlName="nameProduct" />
              <div *ngIf="validateForm.get('nameProduct').errors && validateForm.get('nameProduct').touched" class="text-danger">Nama tidak valid!</div>
            </div>

            <div class="form-group mb-3">
              <input class="form-control" placeholder="Stock" formControlName="stock" type="number" min="0" />
              <div *ngIf="validateForm.get('stock').errors && validateForm.get('stock').touched" class="text-danger">Harus berupa angka!</div>
            </div>

            <div class="form-group mb-3">
              <input class="form-control" placeholder="Stock " formControlName="remainingStock" type="number" min="0" />
              <div *ngIf="validateForm.get('remainingStock').errors && validateForm.get('remainingStock').touched" class="text-danger">Harus berupa angka!</div>
            </div>

            <div class="form-group mb-3">
              <label for="kindProduct">Jenis Produk</label>
              <select class="form-control" formControlName="kindProduct" id="kindProduct" placeholder="Nama">
                <option disabled selected>Pilih jenis mobil</option>

                <option *ngFor="let option of kindProductOptions" [value]="option">{{ option }}</option>
              </select>
            </div>

            <!-- <div class="form-group mb-3">
              <input class="form-control" placeholder="Pintu Mobil" formControlName="door" type="number" min="0" />
              <div *ngIf="validateForm.get('door').errors && validateForm.get('door').touched" class="text-danger">Harus berupa angka!</div>
            </div> -->

            <div class="form-group mb-3">
              <!-- Input harga -->
              <input class="form-control" placeholder="Harga" formControlName="price" type="number" min="0" />
              <div *ngIf="validateForm.get('price').errors && validateForm.get('price').touched" class="text-danger">Harus berupa angka!</div>
            </div>

            <div class="form-group mb-3">
              <!-- Input deskripsi -->
              <angular-editor class="form-control" placeholder="Deskripsi" formControlName="description">
              </angular-editor>
              <div *ngIf="validateForm.get('description').errors && validateForm.get('description').touched" class="text-danger">Deskripsi tidak valid!</div>
            </div>

            <!-- Tombol submit -->
            <button class="btn btn-success btn-block" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
