<div class="container">
  <h2 class="text-center mb-2 mt-2">Laporan Pendapatan Perusahaan</h2>
</div>

<div class="container mt-3">
  <div class="row align-items-center jumbotron">
    <div class="col-md-6">
      <img src="/assets/laporan.png" alt="Gambar Selamat Datang" class="img-fluid">
    </div>

    <div class="col-md-6">

      <div class="card bg-info text-white mx-auto mb-4" style="max-width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Produk Terbanyak Dipesan</h5>
          <p class="card-text ">{{ ProductTerbanyak }}</p>
        </div>
      </div>

      <div class="card bg-dark text-white mx-auto mb-4" style="max-width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Total Produk </h5>
          <p class="card-text">{{ totalPemesananDiApprove }} Produk</p>
        </div>
      </div>


    </div>
  </div>
</div>
